.checkBoxContainer {
  position: relative;
  display: flex;
  align-items: center;

  button {
    all: unset;
  }
}

.checkboxRoot {
  cursor: pointer;
  inset: 0;

  &:disabled {
    cursor: unset;

    & + .label {
      color: var(--color-dark-100);
    }
  }

  &:focus-visible .selected {
    background: var(--color-dark-100);
    border-radius: 50%;
  }

  &:not(:disabled) .selected:hover {
    width: 30px;
    height: 30px;
    background: var(--color-dark-500);
    border-radius: 50%;
  }
}

.selected {
  width: 30px;
  height: 30px;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  margin-left: 2px;
}
