//button,
//input {
//  all: unset;
//}

@import '@/styles/mixin';

.dialogTrigger {
  user-select: none;

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }
}

.dialogClose {
  all: unset;
  position: absolute;
  top: 18px;
  right: 24px;
}

.dialogClose:hover {
  cursor: pointer;
}

.dialogOverlay {
  position: fixed;
  inset: 0;
  opacity: 0.5;
  background-color: var(--color-dark-700);
}

.dialogContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 542px;
  overflow-y: auto;
  max-height: 720px;
  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 2px;

  animation-name: contentShow;
  animation-duration: 200ms;

  &:focus {
    outline: none;
  }
}

.dialogDescription {
  display: grid;
  flex-direction: column;
  margin: 0;
  padding: 18px 24px;

  //border-top: 1px solid var(--color-dark-500);
}

.dialogTitle {
  @include typography(var(--font-size-l), var(--font-weight-bold), var(--line-height-m));

  margin: 0;
  padding: 18px 24px;
  border-bottom: 1px solid var(--color-dark-500);
}

.dialogFields {
  padding: 24px;
}

.dialogButton {
  display: flex;
  justify-content: space-between;

  //padding: 18px 24px;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 3;
  }
}

@keyframes contentShow {
  from {
    //transform: translate(-50%, -50%) scale(0.6);
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0;
  }

  to {
    //transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
