.formWrapper {
  margin: 36px auto;
}

.formContainer {
  width: 348px;
  padding: 33px 0;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
}

.txf {
  margin-top: 24px;
}

.btn {
  margin: 60px 0 20px 0;
}

.footnote {
  margin-bottom: 11px;
  color: var(--color-light-900);
}

.footnoteExtra {
  margin-top: 20px;
  text-align: justify;
  color: var(--color-dark-100);
}
