.SliderWrapper {
  display: flex;
  align-items: center;
  width: max-content;
}

.SliderRoot {
  touch-action: none;
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  height: 20px;
  margin: 0 10px;
}

.SliderTrack {
  position: relative;

  flex-grow: 1;

  height: 5px;

  background-color: var(--color-accent-500-a5);
  border-radius: 9999px;

  &[data-disabled] {
    background-color: var(--color-dark-300);
  }
}

.SliderRange {
  position: absolute;
  height: 100%;
  background-color: var(--color-accent-500);
  border-radius: 9999px;

  &[data-disabled] {
    background-color: var(--color-dark-100);
  }
}

.SliderThumb {
  cursor: pointer;

  display: block;

  width: 16px;
  height: 16px;

  background-color: var(--color-light-100);
  border: 4px solid var(--color-accent-500);
  border-radius: 10px;
  box-shadow: 0 2px 10px black;

  &[data-disabled] {
    cursor: default;
    background-color: var(--color-dark-100);
    border: 4px solid var(--color-dark-300);
  }
}

.SliderThumb:not([data-disabled]):hover {
  transform: scale(1.05);
}

.SliderThumb:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--color-light-100);
}

.input {
  width: 36px;
  height: 36px;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-l);
  color: var(--color-light-100);
  text-align: center;

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &[disabled] {
    color: var(--color-dark-300);
  }
}

//hidden arrow for number input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}
