
.ToggleGroup {
  display: inline-flex;
  align-items: center;

  //button {
  //  all: unset;
  //}
}

.ToggleItem {
  background-color: transparent;
  color: var(--color-light-100);
  height: 36px;
  min-width: 110px;
  display: flex;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  align-items: center;
  justify-content: center;
  padding: 6px 24px;
  border: 1px solid var(--color-dark-300);
  border-right: none;

  &:first-child {
    border-radius: 2px 0 0 2px;
  }

  &:last-child {
    border-radius: 0 2px 2px 0;
    border-right: 1px solid var(--color-dark-300);
  }
}

//hover
.ToggleItem:not(.ToggleItem[data-state='on'], .ToggleItem[data-disabled], :focus):hover {
  background-color: var(--color-dark-300);
  color: var(--color-light-900);
  border-color: var(--color-dark-100);

  & + .ToggleItem:not(:focus) {
    border-left: 1px solid var(--color-dark-100);
  }
}

.ToggleItem:not(.ToggleItem[data-state='on']):focus:hover {
  background-color: var(--color-dark-300);
}

.ToggleItem:not(.ToggleItem[data-state='on'],
.ToggleItem[data-disabled], :focus):first-child:hover + .ToggleItem:not(:focus) {
  border-left: 1px solid var(--color-dark-100);
}

//active
.ToggleItem[data-state='on'] {
  background-color: var(--color-accent-500);
  border-color: var(--color-accent-500);

  & + .ToggleItem:not(:focus) {
    border-left-color: var(--color-accent-500);
  }
}

//focus
.ToggleItem:focus {
  border-color: var(--color-info-900);
  outline: 1px solid var(--color-info-900);
  z-index: 5;
}

.ToggleItem:not(.ToggleItem[data-state='on'], :hover):focus {
  background-color: var(--color-dark-700);
}

.ToggleItem:not(:last-child):focus {
  border-right: 1px solid var(--color-info-900);
}

.ToggleItem:focus + .ToggleItem {
  border-left: none;
}

.ToggleItem[data-disabled] {
  color: var(--color-dark-300);
  background-color: var(--color-dark-700);
  border-color: var(--color-dark-300);
}
