.pageWrapper {
  width: 75%;
  margin: 0 auto;
  position: relative;
}

.linkBackWrapper {
  display: flex;
  gap: 6px;
  margin-top: 24px;
  text-decoration: none;
  cursor: pointer;
}

.title {
  text-align: center;
  margin-bottom: 45px;
}

.question {
}

.shots {
  color: var(--color-dark-100);
  margin-bottom: 40px;
}

.shotsCount {
  font-weight: 700;
}

.answer {
  margin-top: -5px;
  margin-bottom: 12px;
}

.rateYouself {
  margin-bottom: 5px;
  align-self: flex-start;
}

.radio {
  margin: 10px 0 30px;
  align-self: flex-start;
}

.skeleton {
  width: 420px;
  left: calc(50% - 210px);
}
