.checkbox {
  margin-top: 21px;
  margin-left: -6px;
  margin-bottom: 6px;

  label {
    margin-left: 11px;
  }
}

.forgotPasswordWrapper {
  text-align: end;
  margin-bottom: 6px;
}

.forgotPasswordLink {
  all: unset;
  cursor: pointer;
  text-decoration: none;
}