.wrapper {
  margin: 10px;
}

.arrowLeft {
  fill: #0a6638;
}

.selectWrapper {
  width: 50px;
  height: 24px;
}

.select {
  width: 50px;
  height: 24px;
}

.showPerPageWrapper {
  display: flex;
  align-items: center;
}