@import '../../../styles/mixin';

.wrapper {
  margin: 10px;
  display: flex;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
}

.arrowWrapper {
  cursor: pointer;
  padding: 5px 4px;
  height: 16px;
  width: 16px;
  display: flex;
}

.arrowLeft, .arrowRight {
  fill: var(--color-dark-100);

}

.arrowRight {
  transform: rotate(180deg);
}

.pageButton, .totalPages, .dots {
  @include typography(var(--font-size-s), var(--font-weight-regular), var(--line-height-m));
  all: unset;
  width: 24px;
  height: 24px;
  background-color: transparent;
  color: var(--color-light-100);
  margin-left: 12px;
  text-align: center;
  border-radius: 2px;
}

.totalPages {
  margin-right: 12px;
}

.even {
  background-color: var(--color-light-100);
  color: var(--color-dark-900);
}


//select
.select {
  @include typography(var(--font-size-s), var(--font-weight-regular), var(--line-height-s));
  background-color: var(--color-dark-700);
  margin-right: 5px;
  margin-left: 5px;

  div[data-radix-select-viewport] {
    background-color: var(--color-dark-700);
  }

  button {
    @include typography(var(--font-size-s), var(--font-weight-regular), var(--line-height-s));
    box-sizing: border-box;
    width: 54px;
    height: 24px;
    padding: 0 6px;

    svg {
      margin-top: 1.5px;
    }
  }
}

.showPerPageWrapper {
  margin-left: 24px;
  display: flex;
  align-items: center;
}
