@import '../../../styles/mixin';

.textFieldContainer {
  position: relative;

  float: left;
  display: flex;
  flex-direction: column;

  width: 100%;

  .input {
    @include typography(var(--font-size-m), var(--font-weight-regular), var(--line-height-m));

    flex-shrink: 0;

    height: 36px;
    padding-left: 12px;

    background: transparent;
    border: 1px solid var(--color-dark-100);
    border-radius: 2px;

    &::placeholder {
      @include typography(var(--font-size-m), var(--font-weight-regular), var(--line-height-m));

      user-select: none;
      color: var(--color-dark-100);
    }

    &:disabled {
      border-color: var(--color-dark-300);

      & + .eyeIcon {
        fill: var(--color-dark-300)
      }
      &::placeholder {
        color: var(--color-dark-300)
      }
    }
  }

  .input:not(:disabled):hover {
    background: var(--color-dark-700);
  }

  .input:not(:disabled, :focus-visible):active {
    border-radius: 2px;
    border: 1px solid var(--color-light-100);

    &::placeholder {
      color: var(--color-light-100);
    }
  }

  .input:focus-visible {
    border-radius: 2px;
    border-color: var(--color-info-700);
    outline: 1px solid var(--color-info-700);

    &::placeholder {
      color: var(--color-dark-100);
    }
  }

  .passwordIcon {
    position: absolute;
    top: 5px;
    right: 12px;
  }

  .eyeIcon {
    fill: var(--color-light-100);
  }

  .passwordInput {
    padding-right: 44px;
  }

  .searchInput {
    padding: 0 8px 0 44px;
  }

  .input[type='search']::-webkit-search-cancel-button {
    cursor: pointer;

    width: 18px;
    height: 18px;

    appearance: none;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox%3D"0 0 16 16" fill%3D"%23f9f7ff"%3E%3Cpath d%3D"M3.646 3.646a.5.5 0 0 1 .708 0L8 7.293l3.646-3.647a.5.5 0 1 1 .708.708L8.707 8l3.647 3.646a.5.5 0 0 1-.708.708L8 8.707l-3.646 3.647a.5.5 0 0 1-.708-.708L7.293 8 3.646 4.354a.5.5 0 0 1 0-.708z"%3E%3C/path%3E%3C/svg%3E');
  }

  .searchIcon {
    position: absolute;
    top: 5px;
    left: 12px;

    & img {
      filter: invert(28%) sepia(5%) saturate(21%) hue-rotate(317deg) brightness(99%) contrast(93%);
    }
  }

  .searchInput:focus-visible {
    & img {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(190deg) brightness(101%) contrast(102%);
    }
  }

  .error {
    color: var(--color-danger-300);
    border: 1px solid var(--color-danger-300);

    &::placeholder {
      color: var(--color-danger-300);
    }
  }

  .errorText {
    color: var(--color-danger-300);
  }
}
