@import '../../../styles/mixin';

.inputWrapper {
  position: relative;
  display: flow-root;
}

.input {
  @include typography(var(--font-size-m), var(--font-weight-regular), var(--line-height-m));

  user-select: none;

  width: 100%;
  height: 36px;

  background: transparent;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;

  &::placeholder {
    @include typography(var(--font-size-m), var(--font-weight-regular), var(--line-height-m));

    color: var(--color-dark-100);
  }

  &:disabled {
    border-color: var(--color-dark-300);

    &::placeholder {
      color: var(--color-dark-300);
    }

    & + .eyeIcon,
    + .searchIcon {
      cursor: inherit;
      fill: var(--color-dark-300);
    }
  }

  input {
    padding-left: 12px;
  }
}

.inputWrapper {
  position: relative;
}

.searchIcon {
  position: absolute;
  bottom: 5px;
  left: 12px;
  fill: var(--color-dark-100);
}

.error {
  color: var(--color-danger-300);
  border: 1px solid var(--color-danger-300);
  outline: none;

  &::placeholder {
    color: var(--color-danger-300);
  }
}

.errorText {
  user-select: none;

  display: flow-root;

  height: 0;
  margin-top: 5px;

  color: var(--color-danger-300);
  text-align: left;
}

.passwordInput {
  padding-right: 44px;
}

.eyeIcon {
  cursor: pointer;

  position: absolute;
  right: 12px;
  bottom: 5px;

  fill: var(--color-light-100);
}

.searchInput {
  padding: 0 8px 0 44px;
}

.input:not(:disabled) {
  &:active {
    border: 1px solid var(--color-light-100);

    &::placeholder {
      color: var(--color-light-100);
    }

    & + .searchIcon {
      fill: var(--color-light-100);
    }
  }

  &:hover {
    background: var(--color-dark-700);
  }
}

.input:not(.error):focus-visible {
  border-color: var(--color-info-700);
  outline: 1px solid var(--color-info-700);

  &::placeholder {
    color: var(--color-dark-100);
  }
}

.input[type='search']::-webkit-search-cancel-button {
  cursor: pointer;

  z-index: 1;

  width: 18px;
  height: 18px;

  appearance: none;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox%3D"0 0 16 16" fill%3D"%23f9f7ff"%3E%3Cpath d%3D"M3.646 3.646a.5.5 0 0 1 .708 0L8 7.293l3.646-3.647a.5.5 0 1 1 .708.708L8.707 8l3.647 3.646a.5.5 0 0 1-.708.708L8 8.707l-3.646 3.647a.5.5 0 0 1-.708-.708L7.293 8 3.646 4.354a.5.5 0 0 1 0-.708z"%3E%3C/path%3E%3C/svg%3E');
}

.label {
  user-select: none;
  display: block;
  width: fit-content;
  color: var(--color-dark-100);
}

.label[aria-disabled='true'] {
  color: var(--color-dark-300);
}
