@import '../../../styles/mixin';

.primary {
  @include buttonLayout(6px 28px, var(--color-accent-500), 0 4px 18px 0 rgb(140 97 255 / 35%));

  &:hover {
    cursor: pointer;
    background: var(--color-accent-300);
  }

  &:active {
    background: var(--color-accent-700);
  }

  &:disabled {
    cursor: auto;
    background: var(--color-accent-900);
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }
}

.secondary {
  @include buttonLayout(6px 28px, var(--color-dark-300), 0 4px 4px 0 rgb(77 86 96 / 13%));

  &:hover {
    cursor: pointer;
    background: var(--color-dark-100);
    box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);
  }

  &:active {
    background: var(--color-dark-500);
    box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);
  }

  &:disabled {
    cursor: auto;
    color: var(--color-light-900);
    background: var(--color-dark-300);
    box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }
}

.tertiary {
  @include buttonLayout(6px 28px, transparent, none);

  color: var(--color-accent-500);
  border: 1px solid var(--color-accent-500);

  &:hover {
    cursor: pointer;
    background: var(--color-dark-300);
    border: 1px solid var(--color-accent-500);
  }

  &:active {
    background: var(--color-accent-900);
    border: 1px solid var(--color-accent-700);
  }

  &:disabled {
    cursor: auto;
    color: var(--color-accent-900);
    border: 1px solid var(--color-accent-900);
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }
}

.link {
  all: unset;

  display: inline-flex;
  gap: 10px;
  align-items: flex-start;

  padding: 6px 0;

  color: var(--color-accent-500);

  background: transparent;

  &:hover {
    cursor: pointer;
    color: var(--color-accent-300);
  }

  &:active {
    color: var(--color-accent-700);
  }

  &:disabled {
    cursor: unset;
    color: var(--color-accent-900);
  }

  &:focus-visible {
    padding: 6px 10px;
    border-radius: 20px;
    outline: 1px solid var(--color-info-700);
  }
}

.fullWidth {
  width: 100%;
  padding: 6px 0;
}
