.formWrapper {
  margin-top: 36px;
}

.signUpContainer {
  width: 348px;
  padding: 33px 0;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
}

.txf {
  display: flow-root;
  margin-top: 24px;
}

.btn {
  margin: 60px 0 20px;
}

.footnote {
  margin: 20px 0;
}
