@import '../../../styles/mixin';

.labelContainer {
  .label {
    @include typography(var(--font-size-s), var(--font-weight-regular), --line-height-m);

    user-select: none;
    width: fit-content;
    color: var(--color-dark-100);
  }

  .label[aria-disabled='true'] {
    color: var(--color-dark-300);
  }
}
