.pageWrapper {
  width: fit-content;
  margin: 0 auto;
  padding-top: 20px;
}

.paginationWrapper {
  margin-top: 20px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.filtersWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  align-items: end;
}

.searchInput {
  width: 300px;
}

.slider {
  width: 250px;
}

.filterLabel {
  margin-bottom: 5px;
}