@import '../../styles/colors';

.pageWrapper {
  position: static;
  width: fit-content;
  margin: 0 auto;
  padding-top: 20px;
}

.paginationWrapper {
  margin-top: 20px;

  div:first-child {
    margin: 0 auto;
  }
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.filtersWrapper {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 36px;
}

.searchInput {
  width: 300px;
}

.slider {
  width: 250px;
}

.filterLabel {
  margin-bottom: 5px;
}

//modals
.nameInput {
  margin-bottom: 24px;
}

.checkboxIsPrivate {
  margin-bottom: 35px;
  margin-left: -4px;
}

.deleteText {
  display: block;
  margin-bottom: 28px;
  .deleteTextName {
    color: var(--color-accent-700);
  }
}

//.tRow {
//  cursor: pointer;
//}

//.preloader {
//  position: absolute;
//  z-index: 10;
//  top: 30%;
//  left: 40%;
//}
