.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 60px;

  background-color: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-500);

  .headerLogo {
    margin-left: 8.5rem;
    color: var(--color-light-100);
  }

  .headerAvatar {
    display: flex;
    align-items: center;
    margin-right: 8.5rem;
    padding: 0.75rem 0;

    .captionLink {
      width: fit-content;
      margin-right: 15px;
      border-bottom: 1px dashed #fff;
    }
  }
}
