.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 420px;
  height: min-content;

  overflow-wrap: break-word;

  background: var(--color-dark-700);
  box-shadow:
    -1px -1px 2px rgb(0 0 0 / 10%),
    1px 1px 2px rgb(0 0 0 / 10%);

  stroke-width: 1px;
}
