@import '../../../styles/mixin';

.table {
  table-layout: fixed;
  width: max-content;
  border: 1px solid var(--color-dark-500);
  border-collapse: collapse;
  @include typography(var(--font-size-s), var(--font-weight-regular), var(--line-height-m));
  text-align: left;

  th,
  td {
    padding: 6px 24px;
    min-height: 36px;
    width: min-content;
    max-height: 60px;
    overflow-wrap: break-word;
    overflow: hidden;
  }

  th {
    min-width: 200px;
  }
}

//set width columns for packs table
.packs {
  //name column
  th:first-child {
    min-width: 260px;
  }

  //cardsCount column
  th:nth-child(2) {
    min-width: 140px;
  }

  //cardsCount column
  th:nth-child(4) {
    width: 200px;
  }
}


//set width columns for my cards table
.myCards,
.cards {
  th:first-child,
  th:nth-child(2) {
    min-width: 300px;
  }
}

//set width columns for cards table
.myCards {
  th:nth-child(3) {
    min-width: 130px;
  }

  th:nth-child(4) {
    min-width: 168px;
  }

  th:nth-child(5) {
    min-width: 100px;
  }
}

.tableHead {
  background-color: var(--color-dark-500);
}

.tableRow:not(:last-child) {
  border-bottom: 1px solid var(--color-dark-500);
}

.tdIcons {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  svg {
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.tdRating {
  display: flex;
  align-items: center;

  svg:not(:last-child) {
    margin-right: 10px;
  }
}

//tdCell
.tdCell {
  display: flex;
  align-items: center;
  width: auto;

  .tdCellTitle {
    width: auto;
    max-height: 48px;
    overflow: hidden;
    word-break: break-all;
  }

  .tdCellTitle:nth-child(2) {
    max-width: 80px;
    margin-left: 10px;
  }
}

.tdImg {
  width: 120px;
  height: 48px;
  object-fit: cover;
}

.sortingColumn {
  cursor: pointer;
}
