@import '../../../styles/mixin';

.table {
  @include typography(var(--font-size-s), var(--font-weight-regular), var(--line-height-m));

  table-layout: fixed;
  border-collapse: collapse;

  width: max-content;

  text-align: left;

  border: 1px solid var(--color-dark-500);

  th,
  td {
    overflow: hidden;

    width: min-content;
    min-height: 36px;
    max-height: 60px;
    padding: 6px 24px;

    overflow-wrap: break-word;
  }

  th {
    min-width: 200px;
  }
}

// set width columns for packs table
.packs {
  // name column
  th:first-child {
    min-width: 260px;
  }

  // cardsCount column
  th:nth-child(2) {
    min-width: 140px;
  }

  // cardsCount column
  th:nth-child(4) {
    width: 200px;
  }
}

// set width columns for my cards table
.myCards,
.cards {
  th:first-child,
  th:nth-child(2) {
    min-width: 300px;
  }
}

// set width columns for cards table
.myCards {
  th:nth-child(3) {
    min-width: 130px;
  }

  th:nth-child(4) {
    min-width: 168px;
  }

  th:nth-child(5) {
    min-width: 100px;
  }
}

.tableHead {
  background-color: var(--color-dark-500);
}

.tableRow:not(:last-child) {
  border-bottom: 1px solid var(--color-dark-500);
}

.tdIcons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;

  svg {
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.tdRating {
  display: flex;
  align-items: center;

  svg:not(:last-child) {
    margin-right: 10px;
  }
}

// tdCell
.tdCell {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;

  .tdCellTitle {
    overflow: hidden;
    width: auto;
    max-height: 48px;
    word-break: break-all;
  }
  //if cell has cover image
  .tdCellTitle:nth-child(2) {
    max-width: 80px;
    margin-left: 10px;
  }

  .lock {
    position: absolute;
    right: -20px;
  }
}

.tdImg {
  width: 120px;
  height: 48px;
  object-fit: cover;
}

// Table head
.sortingColumn {
  cursor: pointer;
}

.disabledColumn {
  cursor: auto;
  color: var(--color-dark-300);
}

// skeleton
.skeleton {
  position: relative;

  overflow: hidden;

  width: 100%;

  opacity: 0.7;
  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-500);
}

.skeletonLine {
  position: relative;
  top: calc(-100px - 20%);
  left: -40%;
  transform: rotate(30deg);

  width: 30%;
  height: calc(200px + 200%);

  background-color: var(--color-dark-500);

  animation-name: skeleton;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes skeleton {
  from {
    left: -40%;
  }

  to {
    left: 120%;
  }
}
